
.graph {
    border: 1px solid #80B3D5;
    font-family: Arial;
}

table.graph caption {
    text-align: left;
}

table.graph caption span, table.graph caption button {
    float: right;
}

table.graph td {
    width: 150px;
}
table.graph td:first-child {
    font-weight: bold;
}
